@import "./tailwind.css";

*{
    /* outline: 1px solid hsl(0, 0%, 88%); */
    font-family: -apple-system, Roboto, sans-serif, 'Open Sans', 'Helvetica Neue';
}

body {
    background: linear-gradient(135deg, #f8fafc, #ffffff);
}

:root {
    --theme-bg: #1a237e;
    --theme-bg-text: #fff;
    --theme-light-bg: #f8f9fa;

    --text-danger: #fb2c36;
}

.danger {
    @apply text-red-600;
}

.image,
img {
    @apply rounded-lg;
}
.image {
    img {
        @apply object-cover w-full h-full;
    }
}

.breadcrumbs {
    @apply flex items-center text-sm text-gray-700;

    a {
        @apply font-bold hover:font-semibold relative text-blue-600;

        &::after {
            content: '/';
            @apply mx-2 text-gray-500;
        }
    }

    span {
        @apply text-gray-700;
    }
}
