.guest_nav {
    @apply sticky top-0 left-0 right-0 z-50 font-semibold;
    background: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(10px);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.03);
    z-index: 100;

    .container {
        @apply flex items-center justify-between flex-wrap py-2 px-4 md:px-16 mx-auto;

        .active {
            @apply text-[var(--theme-bg)] font-bold border-b-2 border-b-[var(--theme-bg)];
        }

        .branding {
            a {
                @apply flex items-center gap-2 text-lg font-bold text-gray-900;

                img {
                    @apply w-[55px] h-[55px] rounded-full;
                }
            }
        }

        .nav_links {
            @apply hidden md:flex md:items-center md:space-x-12 w-full md:w-auto mt-6 md:mt-0;

            .main_links a,
            .other_links a {
                @apply block md:inline-block text-gray-900 py-2 md:py-0 font-semibold hover:text-blue-800 transition-colors;
            }

            .main_links {
                @apply flex space-x-12;
            }

            .other_links {
                @apply mt-4 md:mt-0;
            }
        }

        .nav_links.open {
            @apply block;
        }

        .burger_menu {
            @apply flex flex-col justify-center items-center space-y-1 cursor-pointer md:hidden ml-4;

            span {
                @apply w-6 h-0.5 bg-gray-900 block transition duration-300 ease-in-out;
            }
        }

        a.btn_login {
            @apply bg-[var(--theme-bg)] text-[var(--theme-bg-text)] hover:bg-blue-600 font-semibold tracking-wide py-[12px] px-[16px] rounded-lg;
        }
    }
}
